{
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ],
      "plugins": [
        "add-module-exports",
        "external-helpers",
        "transform-object-rest-spread"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ], 
        "minify"],
      "plugins": [
        "add-module-exports",
        "external-helpers",
        "transform-object-rest-spread"
      ]
    }
  }
}
